safety assistant/sources/node_red_flow/safety_assistant_flow.txt
[{"id":"7280ab6f.764aa4","type":"mraa-gpio-dout","z":"7799b2dc.08331c","name":"pinDoorLock","pin":"8","set":true,"level":"0","x":1016.5001945495605,"y":708.5004281997681,"wires":[]},{"id":"1ca258ca.45e947","type":"function","z":"7799b2dc.08331c","name":"fnLightTroggle","func":"if( msg.payload === \"lClicked\" ) {\n    \n    if( context.global.light_State === 0 ) {\n        msg.payload = 1;  \n    }\n    else {\n        msg.payload = 0;\n    }\n    \n    context.global.light_State = msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":271.7461853027344,"y":968.7001180648804,"wires":[["af36ba6e.77c1e8","af22f9b2.97a1c8"]]},{"id":"7cb373d0.81b3ec","type":"ui_button","z":"7799b2dc.08331c","name":"btnLight","group":"467eacc8.2bcd74","order":1,"width":"3","height":"1","label":"LIGHT","color":"","icon":"","payload":"lClicked","payloadType":"str","topic":"","x":74.14286804199219,"y":1018.3429412841797,"wires":[["1ca258ca.45e947"]]},{"id":"8dc2c4.da7e7d4","type":"ui_text","z":"7799b2dc.08331c","group":"467eacc8.2bcd74","order":2,"width":"3","height":"1","name":"lightSts","label":"Light Status:","format":"{{msg.payload}}","layout":"row-right","x":1041.5319366455078,"y":1080.3492965698242,"wires":[]},{"id":"a53f5bbb.bfbe08","type":"inject","z":"7799b2dc.08331c","name":"tsInitTempLimit","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":111.28575897216797,"y":469.92244720458984,"wires":[["f295ad69.b77c7","15f3e759.e71ad9","849910cf.4152c"]]},{"id":"eea892de.fa3d1","type":"ui_chart","z":"7799b2dc.08331c","name":"CAB02","group":"6a0344b7.df8c7c","order":2,"width":"6","height":"3","label":"CAB02 (Celsius)","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"5","removeOlderUnit":"3600","x":989.7619857788086,"y":59.11906433105469,"wires":[[],[]]},{"id":"56bc59f4.526b08","type":"inject","z":"7799b2dc.08331c","name":"tsRdSensors","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"x":104.83332824707031,"y":135.50009536743164,"wires":[["3b0d5a1c.39e446"]]},{"id":"dc7bcce9.52c2","type":"sqlite","z":"7799b2dc.08331c","mydb":"976d9aed.8a8e68","name":"CTRL_DB","x":472.3332748413086,"y":65.50013256072998,"wires":[["2d1863f5.da69fc","6f3e9027.6a5c7"]]},{"id":"c0b511c.247fef","type":"ui_chart","z":"7799b2dc.08331c","name":"CAB01","group":"6a0344b7.df8c7c","order":1,"width":"6","height":"4","label":"CAB01 (Celsius)","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"5","removeOlderUnit":"3600","x":991.9048881530762,"y":20,"wires":[[],[]]},{"id":"3b0d5a1c.39e446","type":"function","z":"7799b2dc.08331c","name":"fnQueryRdSensors","func":"if(context.global.rack_Index === 1) \n{\n    context.global.temp_Sample = 1;\n    msg.topic = \"select sen_val from sensor_data where sen_id=1 order by sl desc limit 1;\";\n}\nelse if (context.global.rack_Index === 2)\n{\n    context.global.temp_Sample = 2;\n    msg.topic = \"select sen_val from sensor_data where sen_id=2 order by sl desc limit 1;\";\n}\n// Dust Concentration\nelse if (context.global.rack_Index === 3)\n{\n    context.global.temp_Sample = 0;\n    context.global.avg_Temp = 0;\n    msg.topic = \"select sen_val from sensor_data where sen_id=3 order by sl desc limit 1;\";\n}\n// Humidity\nelse \n{\n    context.global.temp_Sample = 0;\n    context.global.avg_Temp = 0;\n    msg.topic = \"select sen_val from sensor_data where sen_id=4 order by sl desc limit 1;\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":278.4761428833008,"y":65.59527778625488,"wires":[["dc7bcce9.52c2"]]},{"id":"2d1863f5.da69fc","type":"function","z":"7799b2dc.08331c","name":"fnPlotSensorData","func":"var rec_msg = msg.payload[0];\n\nif(context.global.rack_Index === 1) \n{\n    msg.payload = rec_msg.sen_val;\n    context.global.rack_Index = 2;\n    \n    return [msg, null, null, null];\n}\nelse if (context.global.rack_Index === 2)\n{\n    msg.payload = rec_msg.sen_val;\n    context.global.rack_Index = 3;\n    \n    return [null, msg, null, null];\n}\nelse if (context.global.rack_Index === 3)\n{\n    msg.payload = rec_msg.sen_val;\n    context.global.rack_Index = 4;\n    \n    return [null, null, msg, null];\n}\nelse \n{\n    msg.payload = rec_msg.sen_val;\n    context.global.rack_Index = 1;\n    \n    return [null, null, null, msg];\n}","outputs":"4","noerr":0,"x":690.2620010375977,"y":76.26195907592773,"wires":[["c0b511c.247fef"],["eea892de.fa3d1"],["24e6c271.61bede","3d4433f9.92037c"],["2a16c459.ce9fcc"]]},{"id":"86d488d7.de4c88","type":"ui_form","z":"7799b2dc.08331c","name":"","label":"Door Access Control","group":"467eacc8.2bcd74","order":5,"width":"6","height":"2","options":[{"label":"User Name","value":"ui_u_name","type":"text","required":true},{"label":"Password","value":"ui_u_pass","type":"password","required":true}],"formValue":{"ui_u_name":"","ui_u_pass":""},"payload":"","topic":"","x":95,"y":747.5000858306885,"wires":[["c2b91f24.b71dd"]]},{"id":"c2b91f24.b71dd","type":"function","z":"7799b2dc.08331c","name":"fnQueryRdUser","func":"var rec_msg = msg.payload;\nmsg.topic = \"select fl_name, u_role from users where u_name=\\'\" + rec_msg.ui_u_name + \"'\\ and u_pass=\\'\" + rec_msg.ui_u_pass + \"'\\ ;\";\nreturn msg;","outputs":"1","noerr":0,"x":271.1664810180664,"y":670.5001411437988,"wires":[["9bc16037.fbf7e"]]},{"id":"9bc16037.fbf7e","type":"sqlite","z":"7799b2dc.08331c","mydb":"976d9aed.8a8e68","name":"CTRL_DB","x":453.66649627685547,"y":669.8334331512451,"wires":[["7438c64a.59d758"]]},{"id":"7438c64a.59d758","type":"function","z":"7799b2dc.08331c","name":"fnVerifyUser","func":"var rec_msg = msg.payload[0];\n\nif ( rec_msg ) {\n    //msg.payload = 1;\n    msg.payload = rec_msg;\n    return [null, msg];\n}\nelse {\n    msg.payload = \"Access Denied\";\n    return [msg, null];\n}\n","outputs":"2","noerr":0,"x":631.3334197998047,"y":663.5001401901245,"wires":[["ec55d2b9.b511f"],["fb99ba8c.db0bd8","54d21d2a.6b9364","56e21ae.6da3fe4"]]},{"id":"af36ba6e.77c1e8","type":"mraa-gpio-dout","z":"7799b2dc.08331c","name":"pinLight","pin":"9","set":true,"level":"0","x":1038.0476303100586,"y":969.0714559555054,"wires":[]},{"id":"3abbe9fc.793926","type":"ui_text","z":"7799b2dc.08331c","group":"467eacc8.2bcd74","order":4,"width":"3","height":"1","name":"acSts","label":"AC Status:","format":"{{msg.payload}}","layout":"row-right","x":997.9763450622559,"y":420.14301109313965,"wires":[]},{"id":"847fc3e7.27bf5","type":"ui_button","z":"7799b2dc.08331c","name":"btnAc","group":"467eacc8.2bcd74","order":3,"width":"3","height":"1","label":"AC","color":"","icon":"","payload":"aClicked","payloadType":"str","topic":"","x":84.97618103027344,"y":347.71430015563965,"wires":[["be14a6f1.565c58"]]},{"id":"b23b572c.945e38","type":"comment","z":"7799b2dc.08331c","name":"/* ------------------------------ Door Access Control ------------------------------- */","info":"","x":573.1666488647461,"y":618.6667079925537,"wires":[]},{"id":"36c399f7.276766","type":"comment","z":"7799b2dc.08331c","name":"/* ------------------------------- Light Button Control ----------------------------------- */","info":"","x":573.8333053588867,"y":903.6666679382324,"wires":[]},{"id":"e16eafad.27b28","type":"comment","z":"7799b2dc.08331c","name":"/* ------------------------------ Sensor Data Plot  ------------------------------------ */","info":"","x":534.3333053588867,"y":20,"wires":[]},{"id":"54d21d2a.6b9364","type":"function","z":"7799b2dc.08331c","name":"fnQueryWrUserLog","func":"var rec_msg = msg.payload;\nmsg.topic = \"insert into access_log (fl_name, u_role) values(?,?)\";\nmsg.payload = [rec_msg.fl_name, rec_msg.u_role];\nreturn msg;","outputs":1,"noerr":0,"x":824.9999389648438,"y":748.000186920166,"wires":[["b33ae886.2d2f48"]]},{"id":"b33ae886.2d2f48","type":"sqlite","z":"7799b2dc.08331c","mydb":"976d9aed.8a8e68","name":"CTRL_DB","x":1015.6667022705078,"y":759.5001878738403,"wires":[[]]},{"id":"ec55d2b9.b511f","type":"debug","z":"7799b2dc.08331c","name":"UnknownUser","active":true,"console":"false","complete":"payload","x":985.1667022705078,"y":656.1667098999023,"wires":[]},{"id":"fb99ba8c.db0bd8","type":"trigger","z":"7799b2dc.08331c","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","name":"","x":837.6666870117188,"y":705.8334350585938,"wires":[["7280ab6f.764aa4"]]},{"id":"25751fb7.ab91e","type":"ui_text","z":"7799b2dc.08331c","group":"467eacc8.2bcd74","order":0,"width":"6","height":"1","name":"lastAccessedSts","label":"Last Accessed","format":"{{msg.payload}}","layout":"row-left","x":1007.958366394043,"y":812.4166765213013,"wires":[]},{"id":"56e21ae.6da3fe4","type":"function","z":"7799b2dc.08331c","name":"fnUpdateLastAccessedSts","func":"var rec_msg = msg.payload;\nvar date = new Date();\nmsg.payload = rec_msg.fl_name.toString() + \", \" + rec_msg.u_role.toString() + \" at \" + date + \".\";\nreturn msg;","outputs":"1","noerr":0,"x":696.916633605957,"y":788.2500004768372,"wires":[["25751fb7.ab91e"]]},{"id":"dc934be9.8e7688","type":"function","z":"7799b2dc.08331c","name":"fnQueryRdInitLightSts","func":"var rec_msg = msg.payload;\nmsg.topic = \"select load_status from loads where load_type=1 order by sl desc limit 1\";\nreturn msg;","outputs":"1","noerr":0,"x":364.8335494995117,"y":1106.381181716919,"wires":[["e13c102b.cf55d"]]},{"id":"af22f9b2.97a1c8","type":"function","z":"7799b2dc.08331c","name":"fnUpdateLightSts","func":"if( msg.payload === 1 ) {\n    msg.payload = \"ON\";\n}\nelse {\n    msg.payload = \"OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":544.4762802124023,"y":1018.1666746139526,"wires":[["8dc2c4.da7e7d4","b1e717fd.991e28"]]},{"id":"e13c102b.cf55d","type":"sqlite","z":"7799b2dc.08331c","mydb":"976d9aed.8a8e68","name":"CTRL_DB","x":592.3334197998047,"y":1105.190752029419,"wires":[["1d68fc73.ba8884","42cdcde7.ebd8f4"]]},{"id":"26033e24.5a9142","type":"sqlite","z":"7799b2dc.08331c","mydb":"976d9aed.8a8e68","name":"CTRL_DB","x":1031.9764366149902,"y":1024.9524822235107,"wires":[[]]},{"id":"dc4f9f5c.8dc89","type":"inject","z":"7799b2dc.08331c","name":"tsRdInitLightSts","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":108.76190948486328,"y":1074.9524068832397,"wires":[["dc934be9.8e7688"]]},{"id":"b1e717fd.991e28","type":"function","z":"7799b2dc.08331c","name":"fnQueryWrLightSts","func":"msg.topic = \"insert into loads (load_type, load_status) values(?, ?)\";\nmsg.payload = [1, msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":816.9764251708984,"y":1013.8810329437256,"wires":[["26033e24.5a9142"]]},{"id":"1d68fc73.ba8884","type":"function","z":"7799b2dc.08331c","name":"fnSetLightPin","func":"var rec_msg = msg.payload[0];\n\nif ( rec_msg.load_status === \"ON\" ) \n{\n    msg.payload = 1;\n}\nelse \n{\n    msg.payload = 0;\n}\n\ncontext.global.light_State = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":803.7619018554688,"y":941.023847579956,"wires":[["af36ba6e.77c1e8"]]},{"id":"42cdcde7.ebd8f4","type":"function","z":"7799b2dc.08331c","name":"fnUpdateInitLightSts","func":"var rec_msg = msg.payload[0];\n\nif ( rec_msg.load_status === \"ON\" ) \n{\n    context.global.light_State = 1;\n}\nelse \n{\n    context.global.light_State = 0;\n}\n\nmsg.payload = rec_msg.load_status;\n\nreturn msg;","outputs":1,"noerr":0,"x":830.5477066040039,"y":1102.0954546928406,"wires":[["8dc2c4.da7e7d4"]]},{"id":"f295ad69.b77c7","type":"function","z":"7799b2dc.08331c","name":"fnQueryRdInitAcSts","func":"var rec_msg = msg.payload;\nmsg.topic = \"select load_status from loads where load_type=2 order by sl desc limit 1;\";\nreturn msg;","outputs":"1","noerr":0,"x":325.5477066040039,"y":419.59553718566895,"wires":[["e298e7e3.5f8f88"]]},{"id":"e298e7e3.5f8f88","type":"sqlite","z":"7799b2dc.08331c","mydb":"976d9aed.8a8e68","name":"CTRL_DB","x":544.1190185546875,"y":419.59537506103516,"wires":[["16ae063b.ec268a"]]},{"id":"16ae063b.ec268a","type":"function","z":"7799b2dc.08331c","name":"fnUpdateInitAcSts","func":"var rec_msg = msg.payload[0];\n\nif ( rec_msg.load_status === \"ON\" ) \n{\n    context.global.ac_State = 1;\n}\nelse \n{\n    context.global.ac_State = 0;\n}\n\ncontext.global.ac_Prev_State = context.global.ac_State;\n\nmsg.payload = rec_msg.load_status;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":773.7619018554688,"y":424.59529399871826,"wires":[["3abbe9fc.793926"]]},{"id":"be14a6f1.565c58","type":"function","z":"7799b2dc.08331c","name":"fnAcTroggle","func":"if( msg.payload === \"aClicked\" ) {\n    \n    if( context.global.ac_State === 0 ) {\n        msg.payload = \"ON\";\n        context.global.ac_State = 1;\n    }\n    else {\n        msg.payload = \"OFF\";\n        context.global.ac_State = 0;\n    }\n}\n\ncontext.global.ac_Prev_State = context.global.ac_State;\n\nreturn msg;","outputs":1,"noerr":0,"x":261.6190719604492,"y":344.23813819885254,"wires":[["98f00df2.6bb53","3abbe9fc.793926","6431fa42.7f6f74"]]},{"id":"18f6f8e7.e78f97","type":"mraa-gpio-dout","z":"7799b2dc.08331c","name":"AcTrig","pin":"10","set":true,"level":"0","x":1000.1906242370605,"y":331.5001001358032,"wires":[]},{"id":"98f00df2.6bb53","type":"trigger","z":"7799b2dc.08331c","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"200","extend":false,"units":"ms","reset":"","name":"","x":813.0477142333984,"y":334.3573999404907,"wires":[["18f6f8e7.e78f97"]]},{"id":"6431fa42.7f6f74","type":"function","z":"7799b2dc.08331c","name":"fnQueryWrLoads","func":"msg.topic = \"insert into loads (load_type, load_status) values(?, ?)\";\nmsg.payload = [2, msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":796.6191101074219,"y":377.9285707473755,"wires":[["c61cca04.43f4b8"]]},{"id":"c61cca04.43f4b8","type":"sqlite","z":"7799b2dc.08331c","mydb":"976d9aed.8a8e68","name":"CTRL_DB","x":984.1190567016602,"y":377.9285707473755,"wires":[[]]},{"id":"b1895f9e.e5221","type":"comment","z":"7799b2dc.08331c","name":"/* ------------------------------AC Button Control ------------------------------------ */","info":"","x":533.880973815918,"y":291.66661739349365,"wires":[]},{"id":"bb042e5d.57592","type":"inject","z":"7799b2dc.08331c","name":"tsRdInitLastAccessed","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":121.5000228881836,"y":828.2500114440918,"wires":[["7fd1870b.4b2508"]]},{"id":"7fd1870b.4b2508","type":"function","z":"7799b2dc.08331c","name":"fnQueryRdInitLastAccessed","func":"var rec_msg = msg.payload;\nmsg.topic = \"select fl_name, u_role, time from access_log order by sl desc limit 1;\";\nreturn msg;","outputs":"1","noerr":0,"x":349.41683197021484,"y":778.2499189376831,"wires":[["aacd0a31.72d108"]]},{"id":"aacd0a31.72d108","type":"sqlite","z":"7799b2dc.08331c","mydb":"976d9aed.8a8e68","name":"CTRL_DB","x":466.9166793823242,"y":835.7499237060547,"wires":[["129049d5.6a9526"]]},{"id":"129049d5.6a9526","type":"function","z":"7799b2dc.08331c","name":"fnUpdateInitLastAccessedSts","func":"var rec_msg = msg.payload[0];\nvar date = new Date(rec_msg.time * 1000);\nmsg.payload = rec_msg.fl_name + \", \" + rec_msg.u_role + \" at \" + date + \".\";\nreturn msg;","outputs":"1","noerr":0,"x":699.416633605957,"y":835.749921798706,"wires":[["25751fb7.ab91e"]]},{"id":"6f3e9027.6a5c7","type":"function","z":"7799b2dc.08331c","name":"fnCalAvgTemp","func":"var rec_msg = msg.payload[0];\n\nif(context.global.temp_Sample === 0) \n{\n    return null;\n}\nelse \n{\n    context.global.avg_Temp += rec_msg.sen_val;\n    if (context.global.temp_Sample === 2) \n    {\n        context.global.avg_Temp = context.global.avg_Temp / 2.0;\n        msg.payload = context.global.avg_Temp;\n        context.global.avg_Temp = 0.0;\n    }\n    else \n    {\n        return null;\n    }\n}\n\nif (msg.payload >= context.global.u_limit) \n{\n    context.global.ac_State = 1;\n    msg.payload = \"ON\";\n}\nelse if ((msg.payload >= context.global.l_limit) && (msg.payload < context.global.u_limit) ) \n{\n    if (context.global.ac_State === 1) \n    {\n        msg.payload = \"ON\";\n    }\n    else \n    {\n        msg.payload = \"OFF\";\n        context.global.ac_State = 0;\n    }\n}\nelse \n{\n    msg.payload = \"OFF\";\n    context.global.ac_State = 0;\n}\n\nif ( context.global.ac_Prev_State === context.global.ac_State ) \n{\n    return null;    \n}\nelse \n{\n    context.global.ac_Prev_State = context.global.ac_State;\n    return msg;\n}","outputs":"1","noerr":0,"x":583.4049072265625,"y":214.04759693145752,"wires":[["3abbe9fc.793926","98f00df2.6bb53","6431fa42.7f6f74"]]},{"id":"29eaa0a8.c7ea7","type":"ui_slider","z":"7799b2dc.08331c","name":"SliderUL","label":"Upper Limit","group":"6a0344b7.df8c7c","order":3,"width":"5","height":"1","passthru":true,"topic":"","min":"26","max":"30","step":"0.5","x":532.9583778381348,"y":474.4166679382324,"wires":[["f5e390ce.4eb29"]]},{"id":"a70bdfd1.782ce","type":"ui_slider","z":"7799b2dc.08331c","name":"SliderLL","label":"Lower Limit","group":"6a0344b7.df8c7c","order":5,"width":"5","height":"1","passthru":true,"topic":"","min":"20","max":"25","step":"0.5","x":530.4584159851074,"y":531.9167528152466,"wires":[["dadd912b.89426"]]},{"id":"15f3e759.e71ad9","type":"function","z":"7799b2dc.08331c","name":"fnSetULInitVal","func":"context.global.u_limit = 27.5;\nmsg.payload = context.global.u_limit;\nreturn msg;","outputs":1,"noerr":0,"x":322.9584503173828,"y":474.4166679382324,"wires":[["29eaa0a8.c7ea7"]]},{"id":"f5e390ce.4eb29","type":"function","z":"7799b2dc.08331c","name":"fnUpdateUL","func":"context.global.u_limit = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":769.4166870117188,"y":476.9166679382324,"wires":[["34c0bdce.23b862"]]},{"id":"849910cf.4152c","type":"function","z":"7799b2dc.08331c","name":"fnSetLLInitVal","func":"context.global.l_limit = 24.5;\nmsg.payload = context.global.l_limit;\nreturn msg;","outputs":1,"noerr":0,"x":316.9167251586914,"y":531.9166717529297,"wires":[["a70bdfd1.782ce"]]},{"id":"dadd912b.89426","type":"function","z":"7799b2dc.08331c","name":"fnUpdateLL","func":"context.global.l_limit = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":769.4166870117188,"y":531.9166641235352,"wires":[["8634b3ec.dbb1"]]},{"id":"34c0bdce.23b862","type":"ui_text","z":"7799b2dc.08331c","group":"6a0344b7.df8c7c","order":4,"width":"1","height":"1","name":"ULText","label":"","format":"{{msg.payload}}","layout":"row-center","x":994.4166564941406,"y":469.41666984558105,"wires":[]},{"id":"8634b3ec.dbb1","type":"ui_text","z":"7799b2dc.08331c","group":"6a0344b7.df8c7c","order":6,"width":"1","height":"1","name":"LLText","label":"","format":"{{msg.payload}}","layout":"row-center","x":994.4166984558105,"y":521.9166321754456,"wires":[]},{"id":"24e6c271.61bede","type":"ui_chart","z":"7799b2dc.08331c","name":"Dust_Con","group":"d12c1d36.0f6a7","order":1,"width":"6","height":"4","label":"Dust Concentration (mg/m^3)","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"5","removeOlderUnit":"3600","x":991.916690826416,"y":99.22620964050293,"wires":[[],[]]},{"id":"2a16c459.ce9fcc","type":"ui_chart","z":"7799b2dc.08331c","name":"Humidity","group":"d12c1d36.0f6a7","order":4,"width":"6","height":"4","label":"Humidity (%)","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"5","removeOlderUnit":"3600","x":991.619010925293,"y":140.47618293762207,"wires":[[],[]]},{"id":"4547e05.03d722","type":"ui_button","z":"7799b2dc.08331c","name":"btnAckAlm","group":"d12c1d36.0f6a7","order":2,"width":"3","height":"1","label":"ACK Alarm","color":"","icon":"","payload":"0","payloadType":"num","topic":"","x":611.916633605957,"y":157.91667461395264,"wires":[["3d4433f9.92037c"]]},{"id":"bd5a7dd6.b4813","type":"ui_text","z":"7799b2dc.08331c","group":"d12c1d36.0f6a7","order":3,"width":"3","height":"1","name":"almSts","label":"Alarm Status:","format":"{{msg.payload}}","layout":"row-right","x":999.4166984558105,"y":180.41667556762695,"wires":[]},{"id":"3d4433f9.92037c","type":"function","z":"7799b2dc.08331c","name":"fnUpdateAlmSts","func":"if (msg.payload >= 0.6) \n{\n    msg.payload = \"Yes\";\n}\nelse\n{\n    msg.payload = \"No\";\n}\nreturn msg;","outputs":"1","noerr":0,"x":816.9166870117188,"y":157.91667366027832,"wires":[["ebc269f9.f5b728","bd5a7dd6.b4813"]]},{"id":"176951e0.0845ae","type":"mraa-gpio-pwm","z":"7799b2dc.08331c","name":"pinAlm","pin":"3","period":"1000","x":1003.5416984558105,"y":219.583345413208,"wires":[]},{"id":"ebc269f9.f5b728","type":"function","z":"7799b2dc.08331c","name":"fnSetPwmDuty","func":"if (msg.payload === \"Yes\") \n{\n    msg.payload = \"0.5\";\n}\nelse\n{\n    msg.payload = \"0.0\";\n}\nreturn msg;","outputs":"1","noerr":0,"x":826.9166870117188,"y":220.41667938232422,"wires":[["176951e0.0845ae"]]},{"id":"467eacc8.2bcd74","type":"ui_group","z":"","name":"UI_Ctrl","tab":"19927a7.9795c86","order":1,"disp":false,"width":"6"},{"id":"6a0344b7.df8c7c","type":"ui_group","z":"","name":"Temperature Trend","tab":"19927a7.9795c86","order":2,"disp":false,"width":"6"},{"id":"976d9aed.8a8e68","type":"sqlitedb","z":"","db":"/home/root/ctrl_room_monitor/database/ctrl_db.db"},{"id":"d12c1d36.0f6a7","type":"ui_group","z":"","name":"Dust Concentration","tab":"19927a7.9795c86","order":3,"disp":false,"width":"6"},{"id":"19927a7.9795c86","type":"ui_tab","z":"","name":"Control Room Monitor","icon":"dashboard"}]
